@model ELearning.Models.ExamType

@{
    ViewBag.Title = "Delete  Exam Type";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="panel-body">

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
            }
        </div>
    </div>
</div>
